@charset "UTF-8";
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.grid-container {
 
  display: grid;
   /*border-style: solid;*/
  /*border-color: red;*/
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-gap: 15px;
  grid-area: pro;
  
}
.grid-item1 {
	background-color: #ffcc99;
	text-align: center;
	/*border: green 5px solid;*/
	grid-column-start: 1;
	grid-column-end: 9;
	grid-row-start:1;
	grid-row-end: 7
}
.grid-item2 {
	background-color: #ffccff;
	/*background-image:url("image/maradona_shots.gif");*/
	/*background-image:url("image/maradona_play.gif");*/
	text-align: center;
	/*border: green 5px solid;*/
	grid-column-start: 1;
	grid-column-end: 9;
	grid-row-start:7;
	grid-row-end: 8
}

.grid-container > div {

  color: white;
  border-radius: 3rem;
  padding: 1rem;
  border-top: 1px solid #666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}

 .text_format{
	 
 	font-family: "Sofia", sans-serif;
 	font-weight: bold;
 	font-size: 2em; /* 40px/16=2.5em */
 	color: #663300;
 	text-align: center;
 	text-shadow: 2px 2px 5px #cc9900;
 	
 }
 
 .copy_format{
	 
 	font-family: "Trirong", serif;
 	font-weight: bold;
 	font-size: 1.0em; /* 40px/16=2.5em */
 	color: black;
 	text-align: center;
 	text-shadow: 2px 2px 5px white;
 }

.normal_format_link{
	font-family: "Rancho", serif;
 	font-weight: bold;
 	font-size: 2.5em; /* 40px/16=2.5em */
 	text-align: center;
 	text-shadow: 2px 2px 5px white;
}
.history_link:link, .history_link:visited{
	color: #cc6600;
}

.history_link:hover, .history_link:active{
	color: #666633;
}

.table_format{
	border: 10px solid black;
 	padding: 15px;
  	border-spacing: 7px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
}

 
 