<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="history.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
<title>Soccer History</title>
</head>
<body>
	<div class="grid-container">
	  	<div class="grid-item1">
	  		<p class="copy_format">
	  			<br><br>
	  			There are many formations and it's probably impossible to list them all. A formation describes how the players in a soccer team are positioned on the field. Different formations may be used depending on the skill of your opponents but also if your team wants to play more attacking or defensive soccer. 
	  			<br><br>
	  			For example the 4-4-2, is a formation with 4 defenders, 4 midfielders and two forwards, and is the most widely used formation in soccer today. There is no optimal formation that your team can use for every match.Instead, the election will depend on how your opponents are playing. You may have heard that choice of a formation varies from one squad to another and that the best formation is the one which most suits your team. Well, this is true, but if you want to become good at soccer you must be able to play in all possible formations. The best and most sought after players are the ones that remain as versatile as they possibly can. Your team cannot either rely on one single formation; instead, the tactic must be adapted to the opponent's. For example, let's say that your opponents are playing 4-3-3.
	  			Then, your team may have to give up their standard formation (for ex: 3-4-3) because playing with only 3 defenders, especially against opponents with 3 forwards (for ex 4-3-3), will not bring good results if both your and the opposing team are on the same level.
	  			<br><br>
	  			A formation can be altered during a soccer match, (if your team wants to defend or attack more) but it will require fast adaptations from you and your teammates. A good way to get more comfortable with various formations is to work them in during the soccer drills of your team's practice. Some formations lend themselves to dynamically change during a match. The ultra offensive 4-3-3 formation can be switched to a more defensive 4-5-1 during a game. In a formation the only unchangeable position is the soccer goalie. Regardless of your team's formation choice, there must always be a goalkeeper. It is also the only player that has permission to grip the ball. This is a reason for why all formations seem to be based on 10 outfield players since the goalkeeper is seen as a compulsory player.
	  			
	  			
	  		</p>
	  	</div>
	  	<div class="grid-item2">
	  		<a class="normal_format_link history_link" th:href="@{/}">Get back to Soccer Home - @(FindOutMore)</a>
	  	</div>
	  </div>
</body>
</html>