<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="history.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
<title>Soccer History</title>
</head>
<body>
	<div class="grid-container">
	  	<div class="grid-item1">
	  	<table border="1" class="table table-striped table-responsive-md table_format">
	  		<thead class="text_format">
	  			<tr>
	  				<th>League Name</th>
	  				<th>Country</th>
	  				<th>Established Year</th>
	  			</tr>
	  		</thead>
	  		<tbody class="copy_format" style="color: #993333;">
				<tr th:each="league : ${listTournments}">
					<td th:text="${league.tname}"></td>
					<td th:text="${league.tcountry}"></td>
					<td th:text="${league.tyear}"></td>
				</tr>
			</tbody>
		
		</table>
	  	</div>
	  	<div class="grid-item2">
	  		<a class="normal_format_link history_link" th:href="@{/}">Get back to Soccer Home - @(FindOutMore)</a>
	  	</div>
	  </div>
</body>
</html>